{
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 100,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
