Always refer to README.md for guidance on code, file organisation, and tasks.

## Directories

- `src/`: source code
- `tests/`: test code
- `tasks/`: task files
- `dist/`: compiled code

## Writing code

1. Make only the smallest possible change and never make any unnecessary code changes unrelated to the current smallest change
    - if a feature requires a new complex field, add a simple boolean field first
    - leave it to the next iteration to change it into the more complex field
    - prefer to get to a working state first
    - adding a field, referencing the field for logic, making style changes, and introducing ux changes to manipulate the field are 4 separate "smallest possible change"; don't do them together
2. Run `make build` to confirm it didn't break anything
    - if something broke, it means the change was incomplete; make the remaining changes instead of only fixing the error
3. Only if that's successful, then ask for permission to make the next smallest change (repeat step 1 and 2)

## Tasks

- All code changes should correspond to a checkbox in tasks/
- When a change is completed
    - run `make build` to confirm it doesn't break anything
    - update the checkbox in tasks/
- If all checkboxes are checked, update tasks/README.md and rename the task file from TODO to DONE.
