Always refer to README.md for guidance on code, file organisation, and tasks.

## Directories

- `src/`: source code
- `tests/`: test code
- `tasks/`: task files
- `dist/`: compiled code

## Writing code

### Make only the smallest possible change

For example, if a task introduces a new checkbox for user to toggle "Show/Hide", it would've involved

    - Adding a new field to the model
    - Making logic changes based on the new field's value
    - Making style changes
    - Introducing ux changes to manipulate the value of the new field

The breakdown above shows that there are actually 4 separate "smallest possible change". Thus, we should do them in 4 iterations. Never do them in one iteration.

### For each iteration

1. Make only the smallest possible change at every iteration
2. Run `make build` to confirm it didn't break anything
    - if something broke, it's most likely there were unnecessary changes
    - always prefer the code to be in a working state
3. Only when (2) passes, then the iteration is complete, and you can ask permission to make the next smallest change (repeat step 1 and 2)

## Tasks

- All code changes should correspond to a checkbox in tasks/
- When a change is completed
    - run `make build` to confirm it doesn't break anything
    - update the checkbox in tasks/
- If all checkboxes are checked, update tasks/README.md and rename the task file from TODO to DONE.
