@tailwind base;
@tailwind components;
@tailwind utilities;

.tff-tabs {
    @apply flex;
    @apply flex-wrap;
    @apply text-sm;
    @apply font-medium;
    @apply text-center;
    @apply text-gray-500;
    @apply border-b;
    @apply border-gray-200;
    @apply dark:border-gray-700;
    @apply dark:text-gray-400;
    @apply mb-4;
}

.tff-tabs li {
    @apply me-2;
}

.tff-tabs li button {
    @apply inline-block;
    @apply p-4;
    @apply text-blue-600;
    @apply rounded-t-lg;
    @apply dark:text-blue-500;
}

.tff-tabs li .tff-tabs-active {
    @apply bg-gray-200;
    @apply dark:bg-gray-800;
    @apply border-b;
    @apply border-gray-200;
    @apply -mb-1;
}

.tff-tabs-preview {
    @apply grid;
    @apply grid-rows-[auto_auto_1fr_auto];
    @apply gap-2;
    @apply mb-4;
}

.tff-field-group {
    @apply mb-2
}

.tff-field-group input:not(:placeholder-shown):invalid {
    border-color: red;
}

.tff-field-label {
    @apply text-sm;
    @apply text-gray-600;
    @apply align-middle;
}

.tff-field-description {
    @apply mt-1;
    @apply text-xs;
    @apply text-gray-600;
}

.tff-text-field {
    @apply block;
    @apply border;
    @apply border-gray-300;
    @apply p-2;
    @apply w-full;
    @apply rounded;
}

.tff-text-field[type="color"] {
    @apply max-w-10;
    @apply h-10;
    @apply p-1;
}

.tff-text-field[type="date"],
.tff-text-field[type="time"],
.tff-text-field[type="datetime-local"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    @apply bg-inherit;
}

.tff-text-field::-webkit-date-value,
.tff-text-field::-webkit-time-value,
.tff-text-field::-webkit-date-and-time-value {
    @apply min-h-6;
    text-align: inherit;
}


.tff-dropdown-group {
    @apply grid;
}

.tff-dropdown-group select {
    @apply appearance-none;
    @apply forced-colors:appearance-auto;
    @apply border;
    @apply row-start-1;
    @apply col-start-1;
    @apply bg-slate-50;
    @apply dark:bg-slate-800;
    @apply hover:border-cyan-500;
    @apply dark:hover:border-cyan-700;
    @apply hover:bg-white;
    @apply dark:hover:bg-slate-700;
    @apply border-slate-300;
    @apply dark:border-slate-600;
    @apply text-slate-700;
    @apply dark:text-slate-200;
    @apply p-2;
    @apply rounded;
}

.tff-dropdown-group select:invalid,
.tff-dropdown-group select.tff-select-disabled {
    @apply text-gray-300;
}

.tff-dropdown-group svg {
    @apply pointer-events-none;
    @apply z-10;
    @apply right-1;
    @apply relative;
    @apply col-start-1;
    @apply row-start-1;
    @apply h-4;
    @apply w-4;
    @apply mr-2;
    @apply self-center;
    @apply justify-self-end;
    @apply forced-colors:hidden;
}

.tff-choosemany-group,
.tff-chooseone-group {
    @apply grid;
}

.tff-choosemany-group .tff-choosemany-checkboxes,
.tff-chooseone-group .tff-chooseone-radiobuttons {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-2;
}

.tff-checkbox-group,
.tff-radiobuttons-group {
    @apply flex;
}

.tff-checkbox-group .tff-field-label input,
.tff-radiobuttons-group .tff-field-label input {
    @apply border;
    @apply border-gray-300;
    @apply align-middle;
}

.tff-build-field {
    @apply grid;
    @apply grid-rows-[auto_auto_1fr_auto];
    @apply gap-2;
}

.tff-build-field-buttons {
    @apply flex;
    @apply justify-between;
    @apply items-end;
    @apply mb-16;
}

.tff-build-field-buttons .tff-move {
    @apply flex;
    @apply space-x-2;
}

.tff-build-field-buttons button {
    @apply text-xs;
    @apply bg-gray-200;
    @apply hover:bg-gray-400;
    @apply text-gray-600;
    @apply px-4;
    @apply py-2;
    @apply rounded;
}

.tff-build-field-buttons button.tff-delete {
    @apply text-red-700;
}

.tff-dropdown-button {
    @apply text-white;
    @apply bg-blue-500;
    @apply hover:bg-blue-700;
    @apply focus:ring-4;
    @apply focus:outline-none;
    @apply focus:ring-blue-300;
    @apply font-medium;
    @apply rounded-lg;
    @apply text-sm;
    @apply px-5;
    @apply py-2.5;
    @apply text-center;
    @apply inline-flex;
    @apply items-center;
}

.tff-dropdown-open {
    @apply block;
    @apply absolute;
}

.tff-dropdown-closed {
    @apply hidden;
}

.tff-dropdown-svg {
    @apply w-2.5;
    @apply h-2.5;
    @apply ms-3;
}

.tff-dropdown-options-wrapper {
    @apply z-10;
    @apply mt-2;
    @apply bg-white;
    @apply divide-y;
    @apply divide-gray-100;
    @apply rounded-lg;
    @apply shadow;
    @apply w-44;
    @apply dark:bg-gray-700;
}

.tff-dropdown-list {
    @apply py-2;
    @apply text-sm;
    @apply text-gray-700;
    @apply dark:text-gray-200;
}

.tff-dropdown-option {
   @apply block;
   @apply px-4;
   @apply py-2;
   @apply hover:bg-gray-100;
   @apply dark:hover:bg-gray-600;
   @apply dark:hover:text-white;
}
